/**********************************************************************
 * Name: Yolanda Gunter
 * Assignment: Coding 05
 * Purpose: Templating & Making a 3+ Page Website
 * Notes: Learning then implementing Mustache to create templates.
 **********************************************************************/

footer{
    background: #e2d1dd;
}

.nav-section ul {
    list-style: none;
    background-color: #720072;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-section li {
    font-family: 'Arial';
    font-size: 1.2em;
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #888;
}

.nav-section a {
    text-decoration: none;
    color: darkkhaki;
    display: block;
    transition: .3s background-color;
}

.nav-section a:hover {
    background-color: peru;
}

.nav-section a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.body-div{
    text-align: center;
    margin-top: 20px;
}

.centered{
    text-align: center;
}
 #form-div {
     margin: 40px auto;
 }

 .form-input {
     width: 100%;
 }

 .input-div {
     margin-bottom: 10px;
 }

 .form-container {
     text-align: center;
     margin: 10px auto;
     width: 100%;
 }
/* This is the CSS for mobile devices. i.e. it is mobile-first */

#form-div {
    margin: 40px auto;
}

.form-input {
    width: 100%;
}

.input-div {
    margin-bottom: 10px;
}

.form-container{
    text-align: center;
    margin: 10px auto;
    width: 100%
}
@media (min-width: 600px) {
    .form-container{
            width: 60%;
    }

    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

}