<!-- ****************************************************
Name: Yolanda Gunter
Assignment: Coding 05
Purpose: Templating & Making a 3+ Page Website
Notes: Learning then implementing Mustache to create templates.
********************************************************* -->


<div class="body-div">

        <div class="imgBx">
            <img src="media/yemgunter-pic.png"/>
        </div>
        <div class="content">
            <h2>Yolanda Gunter</h2>
            <p>"It's a beautiful day of increase! Increase in joy, peace, finances, wisdom and with wisdom knowledge." Yep - I am here for all of that! </p>
            <p>For more exposure to optimistic quotes by me,  follow me across all social media platforms by searching my handle <i>@yemgunter</i></p>
            <p>Looking forward to connecting with you!</p>
        </div>

    </div>


</div>