<!-- ****************************************************
Name: Yolanda Gunter
Assignment: Coding 05
Purpose: Templating & Making a 3+ Page Website
Notes: Learning then implementing Mustache to create templates.
********************************************************* -->

<div class="body-div">
    <div class="form-container">
        <div id="msg">
            <!-- Blank area for form message to User -->
            <br>
        </div>
            <label for="name"></label>
            <input type="name" id="name">

            <label for="email"></label>
            <input type="email" id="email">

            <label for="email2"></label>
            <input type="email2" id="email2">

            <label for="subject"></label>
            <input type="subject" id="subject">

        <!-- Need to fix this part right here. label - good, input type - ?
            <label for="message"></label>
            <textarea class="form-input" id="message" maxlength="1000"
                      name="message" placeholder="Message"
                      rows="10"></textarea>
        --!>

        </div>
    <!--Generic buttons for handlers that will work as submit and clear buttons. This is proper professional technique. -->
    <button id="contact-send" type="button" class="">Send</button>&nbsp;&nbsp;
    <button id="contact-clear" type="button" class="">Clear</button>
    </form>
            </div>
        </div>
        <!-- JS at bottom of body here -->
        <script src="email/main.js"></script>
</div>
