<!--*******************************************
Name: Yolanda Gunter
Assignment: 04
Purpose: Second part of two part assignment. Demonstrate understanding of back-end functionality for sending an email with the contact form.
Notes: 2nd Part Due Sunday, Sept 25th 11:59pm
***********************************************-->

<div class="body-div">
	<div class='error-container'>
        <div id="error-msg">
            <h1>Unable to send email.</h1>
               <br> <p>Please try again!</p>
        </div>
    </div>
</div>

