<!-- ****************************************************
Name: Yolanda Gunter
Assignment: Coding 05
Purpose: Templating & Making a 3+ Page Website
Notes: Learning then implementing Mustache to create templates.
********************************************************* -->

        <footer class="centered">
            <hr>
            <!-- {{footertitle}} is a Mustache variable and will be replaced
            with the value from the associative array value from index.php-->
            {{footertitle}}<br>
            Local Server Time: {{localtime}}
        </footer>
    </body>
</html>
