<!-- ****************************************************
Name: Yolanda Gunter
Assignment: Coding 05
Purpose: Templating & Making a 3+ Page Website
Notes: Learning then implementing Mustache to create templates.
********************************************************* -->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/ico">
    </head>
    <body>
    <div class="container">
        <img src="media/yemgunter-logo.png" alt="logo" class="logo">


        <nav class="nav-section">
            <ul>
                <li><a href="index.php">Home</a></li>
                <li><a href="about.php">About</a></li>
                <li><a href="hobbies.php">Hobbies</a></li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </nav>
    </div>