<!-- ****************************************************
Name: Yolanda Gunter
Assignment: Coding 05
Purpose: Templating & Making a 3+ Page Website
Notes: Learning then implementing Mustache to create templates.
********************************************************* -->


<div class="body-div">
    <div class="content">
        <h2>Welcome!</h2>
        <p>Hi! My name is Yolanda Eileen McRae-Gunter. </p>
        <p>I use the handle @yemgunter across all social networks for consistency.</p>
    </div>
</div>
